<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- endbuild -->

    <title>Senior Care</title>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href={{ url_for('home') }}><img src="img/logo.png" height="30"
                    width="41"></a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href={{ url_for('home') }}><span
                                class="fa fa-home fa-lg"></span>
                            Home</a></li>
                    <li class="nav-item"><a class="nav-link" href={{ url_for('profiles') }}><span
                                class="fa fa-users fa-lg"></span>
                            Profiles</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-envelope fa-lg"></span>
                            Messages</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <form>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label class="sr-only" for="firstnameInput">Email address</label>
                    <input type="email" class="form-control form-control-sm mr-1" id="exampleInputEmail3"
                        placeholder="Enter email">
                </div>
            </div>
        </form>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <!-- build:js js/main.js -->
    <script src="/static/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/static/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    <!-- endbuild -->
</body>

</html>